[submodule "third_src/spdlog"]
	path = third_src/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "third_src/protobuf"]
    path = third_src/protobuf
    url = git@github.com:protocolbuffers/protobuf.git
